<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">

		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>

		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<a href="#" data-toggle="modal" data-target="#register-modal">Create
					a library employee account</a>
				<div class="modal fade" id="register-modal" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
					style="display: none;">
					<div class="modal-dialog">
						<div class="loginmodal-container">
							<h1>Create an Employee Account</h1>


							<form autocomplete="off" action="#"
								th:action="@{/admin/create_employee}" th:object="${newUser}"
								method="post" class="form-horizontal" role="form">
								<div class="form-group">
									<input type="radio" name="role" id="role" value="libraryStaff">
									Library Staff<br> 
									<input type="radio" name="role" id="role" value="libraryManager"> Library Manager<br> <br>
								</div>
								<div class="form-group">
									<label th:if="${#fields.hasErrors('id')}" th:errors="*{id}"
										class="validation-message"></label> <input type="text"
										th:field="*{id}" placeholder="ID Number" class="form-control" />
								</div>
								<div class="form-group">
									<label th:if="${#fields.hasErrors('firstName')}"
										th:errors="*{firstName}" class="validation-message"></label> <input
										type="text" th:field="*{firstName}" placeholder="First Name"
										class="form-control" />
								</div>
								<div class="form-group">
									<label th:if="${#fields.hasErrors('middleName')}"
										th:errors="*{middleName}" class="validation-message"></label>
									<input type="text" th:field="*{middleName}"
										placeholder="Middle Name" class="form-control" />
								</div>
								<div class="form-group">
									<label th:if="${#fields.hasErrors('lastName')}"
										th:errors="*{lastName}" class="validation-message"></label> <input
										type="text" th:field="*{lastName}" placeholder="Last Name"
										class="form-control" />
								</div>
								<div class="form-group">
									<label th:if="${#fields.hasErrors('birthday')}"
										th:errors="*{birthday}" class="validation-message"></label> <input
										type="text" th:field="*{birthday}" placeholder="Birthday"
										class="form-control" />
								</div>
								<div class="form-group">
									<input type="text" th:field="*{email}" placeholder="Email"
										class="form-control" /> <label
										th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
										class="validation-message"></label>
								</div>
								<div class="form-group">
									<input type="password" th:field="*{password}"
										placeholder="Password" class="form-control" /> <label
										th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}" class="validation-message"></label>
								</div>
								<div class="form-group">
									<label th:if="${#fields.hasErrors('secretQuestion')}"
										th:errors="*{secretQuestion}" class="validation-message"></label>
									<input type="text" th:field="*{secretQuestion}"
										placeholder="Secret Question" class="form-control" />
								</div>
								<div class="form-group">
									<label th:if="${#fields.hasErrors('secretQuestionAnswer')}"
										th:errors="*{secretQuestionAnswer}" class="validation-message"></label>
									<input type="text" th:field="*{secretQuestionAnswer}"
										placeholder="Secret Question Answer" class="form-control" />
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<input type="submit" name="register-submit"
												id="register-submit" tabindex="4"
												class="form-control btn btn-register" value="Register Now">
										</div>
									</div>
								</div>

								<span th:utext="${successMessage}"></span>


							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>